html {
    height: 100%;
}

body {
    background-color: rgb(182, 222, 222);
    background-image: linear-gradient(to bottom right,rgb(192, 228, 255),rgb(154, 186, 233));
    min-height: 100%;
}

h1 {
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 8px rgb(69, 156, 182);
}

h3 {
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    /*text-shadow: 2px 2px 8px rgb(194, 166, 171);*/
}

#centre {
    background-color: rgb(86, 141, 186);
    border-radius: 30px;
}