html {
    height: 100%;
}

body {
    background-color: #ffeedd;
    background-image: linear-gradient(to bottom right,#beeceb,#5cb1cb);
    min-height: 100%;
}

.Title {
    color: rgb(104, 79, 36);
    text-align: center;
    font-weight: bolder;
    /* text-shadow: 2px 2px 8px rgb(69, 156, 182); */
    font-family: 'Varela Round', sans-serif;
}

.greeting {
    color: rgb(104, 79, 36);
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    /*text-shadow: 2px 2px 8px rgb(194, 166, 171);*/
}

#centre {
    background-color: red;
    /* border-radius: 30px; */
    margin: 0;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper .card {
    display: inline-block;
}

.button-border {
    border-style: solid;
    border-color: #5cb1cb;
    margin: auto;
    width: 20rem;
    justify-content: center;
    display: block;
    padding: 0.8rem 0.8rem 0.4rem;
    border-radius: 2rem;
}

.button1 {
    margin: auto auto 0.6rem;
    display: block;
    width: 20rem;
    height: 10rem;
    background-color: #c5ecac;
    justify-content: center;
    border-radius: 2rem;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    border-color: white;
    border-style: none;
    color: rgb(104, 79, 36);
    transition: background-color 0.5s;
}

.button1:hover,
.button1:focus {
    cursor: pointer;
    background-color: #ddf8c3;
}